<div style="display: flex;
  flex-direction: row;">
    <div >
        <h2>Enter Name and Age</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
    <div >
        <h2>Stored Names</h2>
        <ul style="display: flex;">
 
            {% for person in persons %}
                <li>{{ person.name }}</li>
                <img src={{person.url}} alt="chart" style='height: 150px' >
            {% endfor %}

        </ul>
    </div>
</div>
